.left{
    float: left;
    width: 25%;
}

.middle{
    float: right;
    width: 50%;
}

.right{
    float: right;
    width: 25%;
}

/* shirt type */

.shirt_design, .shirt_type, .cart{
    border: 2px solid black;
    padding: 10px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

.shirt_type img{
    width: 60px;
    margin-top: 20px;
}

.shirt_type{
    text-align: center;
}

.shirt_type > h3{
    margin-bottom: 30px;
}

/* shirt design */

.shirt_design, .shirt_type, .cart{
    height: 600px;
}

.shirt_design > div > section > fieldset > img{
    width: 150px;
    display: block;
    margin: auto;
}

.shirt_design > div.row,
.shirt_design section {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.shirt_design > section{
    width: 33%;
    height: 220px;
}

.shirt_design > section > fieldset{
    align-items: center;
    height: 200px;
}

.shirt_design legend{
    margin: auto;
}

.shirt_design select{
    margin-top: 20px;
}


/* task 2 additional requirements */
#disabled{
    cursor: not-allowed;
}

img:hover{
    background-color: gray;
}

.shirt_design fieldset:hover{
    background-color: gray;
}

/* total payment part */

#payment{
    background-color: orangered;
    color: white;
    padding: 5px;
}

.payment > h2{
    margin-top: 650px;
}

/* cart */

.cart table, .cart th, .cart td{
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}

.cart table{
    margin-left: auto;
    margin-right: auto;
    display: none;
    margin-top: 50px;
    margin-bottom: 20px;
}

#cart{
    text-align: right;
    margin-top: 50px;
}

#cart mark{
    padding: 10px;
    background-color: greenyellow;
}
